<table mat-table [dataSource]="listeProducts" class="mat-elevation-z8">
    <!-- Nom du Produit Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom du Produit </th>
        <td mat-cell *matCellDef="let product"> {{ product?.name }} </td>
    </ng-container>

    <!-- Prix Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix Achat </th>
        <td mat-cell *matCellDef="let product"> {{ product?.price }} € </td>
    </ng-container>

    <!-- Sale Column -->
    <ng-container matColumnDef="sale">
        <th mat-header-cell *matHeaderCellDef> Promotion </th>
        <td mat-cell *matCellDef="let product"> {{ product?.sale }} </td>
    </ng-container>

    <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> Remise </th>
        <td mat-cell *matCellDef="let product">
            <input matInput type="number" [(ngModel)]="product.discount" [value]="product.discount || 0"
                class="custom-input" [ngClass]="{'is-invalid': product.discount < 0}" />
            <div *ngIf="product.discount < 0" class="error-message">La remise ne peut pas être inférieure à 0.</div>
        </td>
    </ng-container>

    <!-- Quantity in Stock Column -->
    <ng-container matColumnDef="quantityInStock">
        <th mat-header-cell *matHeaderCellDef> Quantité en stock </th>
        <td mat-cell *matCellDef="let product">
            <input matInput type="number" [(ngModel)]="product.quantityInStock" [value]="product.quantityInStock || 0"
                class="custom-input" />
        </td>
    </ng-container>

    <ng-container matColumnDef="prixVente">
        <th mat-header-cell *matHeaderCellDef>Prix vente</th>
        <td mat-cell *matCellDef="let product">
            <input matInput type="number" [(ngModel)]="product.prixVente" [value]="product.prixVente || 0"
                [readonly]="product.quantityInStock >= 0" class="custom-input" />
            <div *ngIf="product.quantityInStock < 0 && !product.prixVente" class="text-danger mt-2">
                <small>Le prix de vente doit être renseigné lorsque la quantité en stock est négative.</small>
            </div>
        </td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Commentaires </th>
        <td mat-cell *matCellDef="let product"> {{ product?.comments }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let product">
            <button mat-button color="warn" (click)="onEditProduct(product)" class="mat-button-warn">
                <i class="fa fa-pencil custom-icon "></i>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>