<app-navbar></app-navbar>
<div class="container mt-4">
    <h2>Chiffre d'affaires</h2>

    <div class="d-flex justify-content-between mb-4">
        <button class="btn btn-warning  text-light  rounded-0 flex-fill" (click)="createChartAnnuel()">Annuel
        </button>
        <button class="btn btn-warning  text-light  rounded-0 flex-fill" (click)="createChartHebdo()">Hebdomadaire
        </button>
        <button class="btn btn-warning text-light  rounded-0 flex-fill" (click)="createChartQuotidien()">Quotidien
        </button>
    </div>

    <canvas id="chiffreAffaireChart"></canvas>
</div>