<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3">

    <!-- Nom du Produit Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom du Produit </th>
        <td mat-cell *matCellDef="let product"> {{ product?.name }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let product"> {{ product?.date | date: 'yyyy-MM-dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity_in_stock">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let product"> {{ product?.quantity_in_stock}} </td>
    </ng-container>

    <ng-container matColumnDef="priceachat">
        <th mat-header-cell *matHeaderCellDef> Prix Achat </th>
        <td mat-cell *matCellDef="let product"> {{ product?.priceachat }} € </td>
    </ng-container>

    <ng-container matColumnDef="prixvente">
        <th mat-header-cell *matHeaderCellDef> Prix Vente </th>
        <td mat-cell *matCellDef="let product"> {{product?.prixvente}} €</td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type Transaction </th>
        <td mat-cell *matCellDef="let product"> {{ product?.type}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>