body {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

.card {
  margin-top: 100px;
  border-radius: 10px;
  border: none;
}

.card-body {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4.card-title {
  color: #333;
  font-weight: 600;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.text-center a {
  color: #007bff;
}

.text-center a:hover {
  text-decoration: underline;
}
/* Styles pour les champs invalides */
.is-invalid {
    border-color: red !important;
}

/* Message d'erreur */
.invalid-feedback {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}
